*.la
*.lo
*.o
.deps
.libs
.stamp
/aclocal.m4
/compile
/config.guess
/config.h
/config.h.in
/config.sub
/install-sh
/libtool
/libvirt-php.spec
/libvirt-php-[0-9]*/
/ltmain.sh
/missing
/tests/*.log
/tests/*.trs
/tests/check_parameters.sh
/tests/runtests.sh
/tests/functions.phpt
/test-driver
/AUTHORS
/INSTALL
Makefile
Makefile.in
config.log
config.status
configure
depcomp
docs/*.html
docs/*.html.in
autom4te.cache/
m4/*
src/*.so
stamp-h1
tags
tools/generate-api-docs
libvirt-php-*.tar.xz
*~
!/m4/virt-*.m4
